* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  
}

.cupon {
  width: 100px;
}

p,
.gris,
input[placeholder] {
  color: #707070;
  font-weight: 300;
}

.bg-grey {
  background-color: #1a1a1a;
}

.titulo-pizzeria {

  background-image: url(/public/img/image.png);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 150px;
  color: aliceblue;
  padding-top: 32px;  
}

footer {
  background-color: #1a1a1a;
  padding: 15px 0 5px 0;
}

footer p {
  color: aliceblue;
}

.pizza-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
}